<script src="{{ root_url }}/javascripts/slash.js"></script>
{% include fancybox.html %} <!-- Delete or comment this line to disable Fancybox -->
{% include disqus.html %}
{% include google_analytics.html %}

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=7242580;
var sc_invisible=1;
var sc_security="0ed3083d";
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="free hit
counter" href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7242580/0/0ed3083d/1/"
alt="free hit counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-994661-C";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>

{% include custom/after_footer.html %}
